Flask==3.1.1
Flask-CORS==6.0.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
alembic==1.16.2
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-api-python-client==2.172.0
openai==1.86.0
python-dateutil==2.9.0.post0
Pillow>=12.0.0,<13
python-dotenv==1.1.0
cryptography==45.0.4
gunicorn==23.0.0
psycopg[binary]==3.2.13
pytest==8.4.0
pytest-mock==3.14.1
